.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: aliceblue;
  }
  footer{
    color: aliceblue;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;

  }
  .contact-us, .address{
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 10%;


  }
  .contact-us p {
    font-size: large;
  }
  .dev{
    color: aliceblue;
    position: relative;
    bottom: 0;
    right :40%;
  }